<div class="centre hero-unit">
<h1>Sample App</h1>
<h2>
	This is the home page for the sample app using <a href="http://railstutorial.org/" >rails</a> 
</h2>
	<p>Home page for Sample app </p>
	<p Style="align: center;"><%= link_to "SIgn up Here", signup_path, class: "btn btn-large btn-primary"%></p>
	<p>Integration testing using rspec</p>
</div>